<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Site Monitor</title>
  <base href="{{base_path}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="/static/sitemonitor/styles.001396db27ca42b8bf0f.css"></head>
<body>
  <app-root></app-root>
<script src="/static/sitemonitor/runtime.553551667fec75565e59.js" defer></script><script src="/static/sitemonitor/polyfills.fd30b42dfff1c56c25ed.js" defer></script><script src="/static/sitemonitor/main.69d0e890a164dd5f874d.js" defer></script></body>
</html>
