<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ClientAngular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="/static/sitemonitor/styles.09e2c710755c8867a460.css"></head>
<body>
  <app-root></app-root>
<script src="/static/sitemonitor/runtime.553551667fec75565e59.js" defer></script><script src="/static/sitemonitor/polyfills.35a5ca1855eb057f016a.js" defer></script><script src="/static/sitemonitor/main.0395597c45ec68a0af63.js" defer></script></body>
</html>
