.side-bar {
    background-color: #15191c;
}

.side-bar.navbar {
    display: block;
}

@media (max-width: 767px) {
    .side-bar {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .side-bar .nav {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .side-bar {
        height: 100%;
        position: fixed;
        padding-left: 0px;
        padding-right: 0px;
        box-shadow: 1px 1px 3px #343A40;
    }

    .side-bar .nav {
        flex-direction: column;
    }
}

.side-bar .nav-item.active .btn {
    border: 0px;
    color: #339af0;
    box-shadow: none;
    border-radius: 0px;
}

.side-bar .nav-item.active .btn:focus:active {
    outline: none;
}

.side-bar .nav-item:not(.active) .btn {
    border: 0px;
    color: white;
    background: transparent;
}

.side-bar .nav-item:not(.active) .btn:hover {
    background: #5a6268;
    border-radius: 0px;
}