html {
    background-color: #343A40;
}

body {
    background-color: #343A40;
}

.main {
    color: white;
}

.card {
    background-color: #6c757d !important;
    .table {
        color: white;
    }
}

.navbar-col {
    padding: 0px;
}

@media (min-width: 768px) {
    .navbar-col.col-md-1 {
        flex: 0 0 5%;
        max-width: 5%;
    }

    .main-col.col-md-11{
        flex: 0 0 95%;
        max-width: 95%;
    }
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-bottom-small {
    margin-bottom: 15px;
}

.margin-top {
    margin-top: 30px;
}

.label-margin-bottom {
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .margin-top-mobile {
        margin-top: 30px;
    }
}

.modal-content {
    background-color: #6c757d;
    color: white;

    .close {
        color: white;
    }
}

.toast-container {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-top: 15px;
}
