.sidebar-container {
    position: sticky;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #15191c;

    .sidebar {
        transition: all 0.3s;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;

        .navbar-collapse {
            align-items: stretch;
            
            .navbar-nav {
                display: flex;
                flex-direction: column;

                .fill-bar {
                    flex: 1;
                }
            }
        }
    }
}